.section-bg-img {
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	// position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
	// .row {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// }  

}


.parent {
  
}
