// .justified-image-grid, .justified-gallery {
.justified-gallery-wrapper {
	max-width: 1700px;
	margin: 0 auto;
}
.justified-gallery {
	margin-left: -1.3rem;
}
// For Testing
// .justified-gallery-wrapper {
// 	padding-top: 20px;
// 	background-color: #C6DCCC;
// }
// .justified-gallery {
// 	background-color: red;
// }