@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}
#featured-hero {
	div.row {
		display: table;
		width: 100%;
		height: 100%;
		div.headers{
			display: table-cell;
			vertical-align: middle;
			padding-left: 50px;
		    h2 {
		    	font-size: 5rem;
		    }
		    h3 {
		    	font-size: 3rem;
		    }		
			@include headings {
			    color: $white;
			    font-family: $font-impact;
			}
		}
	}
}
#featured-hero.slim {
    height: 14rem;
}
