/* Change background color and font family */
body {
  background: #595959;/* #f8fafa; */
  font-family: Arial,Verdana,sans-serif;
  background-image: url(../../../assets/images/demo/hero-bg-foundation-6-large.svg);
  background-size:cover;
}
 
/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
  background-image: url(brightlight-logo.png);
  width: 320px;
  height: 83px;
  background-size: 320px 83px;
}
 
/* Add a few changes to the color and style of form itself */
.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}
.login form .input {
  font-weight: normal;
}
#loginform, .login p.message {
    background-color: #eeeecb;
}
.login #backtoblog a, .login #nav a {
  color: #4da28f;
}
.wp-core-ui .button-primary {
  background: #4da28f;
}

.wp-core-ui .button-primary {
    background: #4da28f;
}
