@media #{$medium-up} {
	header#masthead {
		display: none;
	}
}

header#branding {
	border-bottom: 1px solid #3E3E3E;
	display: none;
}
#header-logo-img {
	max-height: 120px;
	margin: 5px 0;
}
@media #{$medium-up} {
	header#branding {
		display: block;
	} 
}

.title-bar {
    background: $footer;
}
#header-brand-wrapper {
	margin: 5px 0;
	display: table-cell;
  	height: 120px;
  	vertical-align: middle;
}
#header-brand-link {
}
#header-brand-img {
}

