.orbit-bullets button {
    width: 0.5rem;//1.2rem;
    height: 0.5rem;//1.2rem;
    margin: 0;//0.1rem;
    background-color: #cacaca;
    border-radius: 50%;
}

.orbit-bullets {
    position: relative;
    margin-top: 0;//0.8rem;
    margin-bottom: 0;//0.8rem;
    text-align: center;
    // background-color: red;
}